a {
  color: #11999E;
  font-weight: bolder;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
  text-decoration: none;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-top: 0;
  font-family: 'Permanent Marker', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  font-family: 'Teko', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  font-size: 4.5rem;
}

h3 {
  color: #11999E;
  font-family: 'Teko', sans-serif;
}

hr {
  border-style: dotted;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 10px;
  width: 10%;
  color: #EAF6F6;
}

.bottom-cloud {
  position: absolute;
  top: 350px;
  left: 30%;
}

.bottom-container {
  background-color: #eeeded;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #1E62D0);
  background-image: -moz-linear-gradient(top, #66BFBF, #1E62D0);
  background-image: -ms-linear-gradient(top, #66BFBF, #1E62D0);
  background-image: -o-linear-gradient(top, #66BFBF, #1E62D0);
  background-image: -webkit-gradient(to bottom, #66BFBF, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 100;
  padding: 20px;
  margin: 40px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.Btn:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.cad-image {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  float: right;
  margin-left: 30px;
}
.copy-right-text{
  font-weight: bold;
  color: white;
  padding-top: 40px;
}

.first-p {
  font-size: 2.5rem;
  font-family: 'Teko', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

.middle-container {}

.profile-image {
  border-radius: 100%;
  height: 400px;
  width: 400px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 30%;
}

.top-container {
  background-color: #eeeded;
  padding-top: 100px;
  line-height: 2;
}

.web-image {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 30px;
}
